body {
  margin: 0;
  padding: 0;
  background: #185a9d;
  background: -webkit-linear-gradient(to left, #43cea2, #185a9d);
  background: linear-gradient(to left, #43cea2, #185a9d);
  font-family: sans-serif;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

.card {
  background: #fff;
  border-radius: .5em;
  border: .05em solid #ccc;
  color: #185a9d;
  display: inline-block;
  max-width: 20em;
  vertical-align: top;
}

a {
  text-decoration: none;
}

.card--brand {
  color: #578097;
}

.card--small {
  font-size: .875em;
}

.card-header {
  background: currentColor;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  padding: 1em;
}

.card-title {
  color: #fff;
  margin: 0;
}

.card-body {
  padding: 1em;
}

.card-footer {
  background: #eee;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  border-top: inherit;
  color: #08c;
  padding: 1em;
  display: flex;
  align-items: center;
  align-content: center;

}

.wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
}

.container {
  padding: 1em;
}