@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

#container {
	margin: 0 auto;
}

.avatar {
	height: 50px;
	width: 50px;
	border-radius: 40%;
	position: absolute;
	top: 5px;
	left: 1%;
}

nav {
	background-color: #000000;

}

nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
	position: relative;
	left: 75%;
}

nav ul li {
	display: inline-block;
}

nav a {
	display: block;
	padding: 0 10px;
	color: #FFF;
	font-size: 20px;
	line-height: 60px;
	text-decoration: none;
}

nav a:hover {
	background-color: #185a9d;
}

nav ul ul {
	display: none;
	position: absolute;
	top: 60px;
}

nav ul li:hover>ul {
	display: inherit;
}

nav ul ul li {
	width: 170px;
	float: none;
	display: list-item;
	position: relative;
}

nav ul ul ul li {
	position: relative;
	top: -60px;
	left: 170px;
}

li>a:after {
	content: ' +';
}

li>a:only-child:after {
	content: '';
}